<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="user/UserSiteLayout" >
<body>
	
	<section layout:fragment="content">
		
		<div class="container">
		
      <form id="changePasswordForm" action="#" th:action="@{'/user/changePassword'}" method="post">
    
        <fieldset class="container">
          
          <legend>Change Password</legend>
			
			<ul th:if="${error != null}" class="errorlist">
	            
	            <li th:text="#{${error}}">Error</li>
          	
          	</ul>
          	
          	<ul th:if="${success != null}" class="successlist">
	            
	            <li th:text="#{${success}}">Error</li>
          	
          	</ul>
          	
			<div>
            	
            	<label class="fields" for="oldpassword"><span>Old Password</span></label>
            	<input type="text"  id="oldPassword" name="oldPassword" placeholder="Old Password" required="required"/>
			
			</div>
          
			<div>
	            
	            <label class="fields" for="newPassword"><span >Password</span></label>
	            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required="required"/>
			
			</div>
          
          	<div>
            	
            	<label class="fields" for="re-assword"><span>Re-enter Password</span></label>
            	<input type="password" id="repassword" name="repassword" placeholder="Re-enter New Password"  />
			
			</div>
    
          	<div class="submit">
            	
            	<button type="submit" name="chnagePassword">Change</button>    
          	
          	</div>
        
        </fieldset>
          
      </form>
      
      </div>
        <script type="text/javascript">
	     	$(document).ready(function() {
	     		
		    	$("#changePasswordForm").validate({
					
		    		rules: {
						
		    			oldPassword: "required",
			    	    
		    			newPassword: "required",
			    	    
		    			repassword:{
			    	    	
		    				equalTo: "#newPassword"
			    	    
		    			}
					},
					
					messages: {
						
						oldPassword: "",
						
						newPassword: "",
						
						repassword: "Please enter the same password again"
						
					}
				});
		    });
		</script>
    </section>
    
</body>
</html>