<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Webs Optimization Task Management System</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/jquery-ui.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/jquery-ui-timepicker-addon.css}" />
	
	<script th:src="@{/js/jquery-1.11.1.js}"></script>
	<script th:src="@{/js/jquery.validate.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/additional-methods.js}"></script>
	<script th:src="@{/js/additional-methods.min.js}"></script>
	<script th:src="@{/js/jquery.blockUI.js}"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/jquery-ui-timepicker-addon.js}"></script>

</head>
	
<body>
	
	<div id="container">
		
		<div th:include="user/pageComponents/UserHeader :: copy"></div>

		<div th:include="user/pageComponents/UserSidebar :: copy"></div>
		
	    <section layout:fragment="content">
			
		</section>

		<div th:include="user/pageComponents/UserFooter :: copy"></div>
	
	</div>
	
</body>

</html>