<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        
        <title th:remove="all">Registration Success</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    </head>
    
    <body>
    
        <p>Hello, <span th:text="${name}"></span></p>
        
        <p>Thnak you for registering with us</p>
        
        <p>
            Regards, <br />
            
            &emsp; <em th:text="${regards}"></em>
        
        </p>
        
    </body>
    
</html>
